@model ToTheChase.Models.Leg

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Leg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LegNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedRunnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedRunnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegDifficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegDifficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LengthInMiles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LengthInMiles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LegID }) |
    @Html.ActionLink("Back to List", "Legs")
</p>
