@model IEnumerable<ToTheChase.Models.Runner>

@{
    ViewBag.Title = "Runners";
}

<h2>Runners</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RunnerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            Pace
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RunnerNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.Partial("PacePartial",item)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RunnerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RunnerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RunnerID })
        </td>
    </tr>
}

</table>
